<div class="container">
<h1>List of Tasks</h1>

<div class = "cards">
  <% @tasks.each do |task| %>
    <h4>
    <% if task.completed? %>
    <i class="fa-solid fa-square-check"></i>
    <% else %>
    <i class="fa-regular fa-square"></i>
    <% end %>
    <%= link_to task.title, task_path(task) %>
    </h4>
  <% end %>
<%= link_to "Add a new task", new_task_path %>
<%= link_to "Edit task!", edit_task_path %>
</div>
</div>
